name,email,role
Ordinary Member Example,member.example@example.com,member
Committee President Example,president.example@example.com,president
Committee Secretary Example,secretary.example@example.com,secretary
Club Cashier Example,cashier.example@example.com,cashier
